
<div class="container">
	<div *ngIf="successMessage" class="alert alert-success" role="alert">
		<strong>Success:</strong> {{successMessage}}
	</div>
	<div *ngIf="progressMessage" class="alert alert-info" role="alert">
		<strong>Status:</strong> {{progressMessage}}
	</div>
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
	<h1 id='assetName'>Quality Report Raw Data</h1>
	<br>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-responsive table-striped">
				<thead class="thead">
				<tr class="thead-cols">
					<th class="info">Quality-Report-Raw-Data ID</th>
					<th class="info">Encrypted Report</th>
					<th class="info">Access Permission Code</th>
					<th class="info">Printing Job</th>
					<th class="info">Stakeholders</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let asset of allQualityReportsRaw">
					<td>{{asset.qualityReportRawID}}</td>
					<td class="split">{{asset.encryptedReport}}</td>
					<td class="split">{{asset.accessPermissionCode}}</td>
					<td>{{asset.formattedPrintingJob}}</td>
					<td>{{asset.formattedStakeholders}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
