<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li class=""><a [routerLink]="['/']">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/Cash']">Cash</a></li>
          <li><a [routerLink]="['/BlueprintMaster']">Blueprint Master</a></li>
          <li><a [routerLink]="['/PrintingJob']">Printing Job</a></li>
	      <li><a [routerLink]="['/QualityRequirement']">Quality Requirement</a></li>
	      <li><a [routerLink]="['/QualityReportRaw']">Quality Report Raw</a></li>
	      <li><a [routerLink]="['/EvaluationResult']">Evaluation Result</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">Participants
          <span class="caret navfont"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/Enduser']">Enduser</a></li>
          <li><a [routerLink]="['/Designer']">Designers</a></li>
          <li><a [routerLink]="['/Manufacturer']">Manufacturers</a></li>
          <li><a [routerLink]="['/Printer']">Printers</a></li>
	      <li><a [routerLink]="['/DataAnalyst']">Data Analyst</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">Transactions
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['BuyAssetTR']">Confirm Transaction</a></li>
          <li><a [routerLink]="['CancelRequestTR']">Cancel Request</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
