<!-- 
  <div ng2FileDrop class="custom-component-drop-zone" (ng2FileDropFileAccepted)="dragFileAccepted($event)">
  	
  </div>

<p> hi </p> -->

             <div ng2FileDrop class="custom-component-drop-zone"
             
                (ng2FileDropHoverStart)="dragFileOverStart()" 
                (ng2FileDropHoverEnd)="dragFileOverEnd()"
                (ng2FileDropFileAccepted)="dragFileAccepted($event)" 
                (ng2FileDropFileRejected)="dragFileRejected($event)">
                
             </div>
             
             <div ng2FileDrop class="custom-component-drop-zone"
 
                [ng2FileDropAcceptMultiple]="true" 
 
                (ng2FileDropHoverStart)="dragFileOverStart()" 
                (ng2FileDropHoverEnd)="dragFileOverEnd()">
                
                
             </div>