<div class="file-drop-container">
  <div ng2FileDrop class="custom-component-drop-zone"

   [ng2FileDropMaximumSizeBytes]="maximumFileSizeInBytes"
   [ng2FileDropSupportedFileTypes]="supportedFileTypes"

   (ng2FileDropHoverStart)="dragFileOverStart()" 
   (ng2FileDropHoverEnd)="dragFileOverEnd()"
   (ng2FileDropFileAccepted)="dragFileAccepted($event)" 
   (ng2FileDropFileRejected)="dragFileRejected($event)">
    
    <div *ngIf="!imageShown">
         <p class="instructions">Drag and Drop your blueprint.</p>
    </div>
    
    <div *ngIf="imageShown" class=image-container>
        <p class="instructions">Thank you for your design!</p>
    </div>
    
  </div>
</div>