<div class="container">
	<div class="jumbotron">
		<div style="text-align:center;">
		<h2>3D Printer - Use case</h2>
	</div>
		<p class="lead">
			A Blockchain application using Hyperledger Composer and BigchainDB for buying and printing 3D Printer models. 
		</p>
		<hr class="my-4">
		<p class="lead">
			Designers upload their original models and set the price for each model. These models are avaliable to the end-users for 3D printing. The end-users select which models they want to print and pay the cost. The designers upload a copy of the already bought models and the printers print the 3D objects and transfer the money to the corresponding model creators.
		</p>
	</div>
</div>
