<div class="container">
	<div class="jumbotron">
		<div style="text-align:center;">
		<h2>3D Printer - Use case</h2>
	</div>
		<p class="lead">
			A Blockchain application using Hyperledger Composer and BigchainDB for buying and printing 3D Printer models. 
		</p>
		<hr class="my-4">
		<p class="lead" style="text-align: justify;">
			Customers upload their quality requirements and their blueprint masters, create printing jobs form that. As soon as the printer is finished it matches the Quality Requirements with the Quality Report and returns a Report evaluation which is linked to the customer via the jobID.
		</p>
	</div>
</div>
