

<div class="container">
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
          <strong>Success:</strong> {{successMessage}}
    </div>
    <div *ngIf="progressMessage" class="alert alert-info" role="alert">
          <strong>Status:</strong> {{progressMessage}}
    </div>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <div class="row">
      <h2>Confirm Transaction</h2>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row RR">
    <div *ngIf="transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Choose the transaction you want to confirm</strong></div>
        <div class="panel-body">
        <form [formGroup]="myForm">
            <p>PrintingJobID:
              <select [(ngModel)]="selectedJob" name="printingJob" formControlName="printingJobID" >
                <option *ngFor="let printingJob of allPrintingJobs" value="{{printingJob.printingJobID}}">{{printingJob.printingJobID}}</option>
              </select>
            </p>
            <br>
            </form>
        </div>
      </div>
    </div>
    <div *ngIf="!transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Transaction Confirmed</strong></div>
        <div class="panel-body">
        <form [formGroup]="myForm">
            <p>Transaction ID: {{transactionID}}</p>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
	  <div *ngIf="selectedJob" class="col-md-offset-4 col-md-4">
		  <button (click)="uploadQualityReport(form);" type="button" class="btn btn-success" data-toggle="modal" >Upload Quality Report</button>
	  </div>
    <div *ngIf="selectedJob" class="col-md-offset-4 col-md-4">
      <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" >Confirm Transaction</button>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
  </div>
</div>