<div class="modal fade" id="cancelRequestModal" tabindex="-1" role="dialog" aria-labelledby="cancelRequestModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cancelRequestModalLabel">Cancel Request</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="cancelRequest()">
        <div class="modal-body">
          Are you sure you want to cancel this request?
        </div>
        <div class="modal-footer">
          <button (click)="cancelRequest()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
          <strong>Success:</strong> {{successMessage}}
    </div>
    <div *ngIf="progressMessage" class="alert alert-info" role="alert">
          <strong>Status:</strong> {{progressMessage}}
    </div>
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Transaction History (PrintingJob)</h1>

  <div class="container">
      <label for="stakeholder">stakeholder</label>
      <select name="stakeholders" [(ngModel)]="selectedElement" >
          <option value="all">All</option>
        <option *ngFor="let stakeholder of allStakeholders" value="{{stakeholder.stakeholderID}}">{{stakeholder.stakeholderID.charAt(0) === "P" ? stakeholder.name : stakeholder.firstName + " " + stakeholder.lastName}}</option>
      </select>
  </div>

  <div class="modal fade" id="uploadJobModal" tabindex="-1" role="dialog" aria-labelledby="uploadJobModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="uploadJobModalLabel">Add Asset</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
                <fileupload></fileupload>
          </div>
          <div class="modal-footer">
            <button (click)="uploadJobAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
                <th class="info">printingJobID</th>
                <th class="info">printed</th>
                <th class="info">BCDB ID</th>
                <th class="info">Checksum</th>
                <th class="info">blueprintMaster</th>
                <th class="info">printer</th>
                <th class="info">printerPubKey</th>
                <th class="info">buyer</th>
                <th class="info">owner</th>
                <th class="info">designer</th>
                <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allPrintingJobAssets | usersPipe: selectedElement">
            <td>{{asset.printingJobID}}</td>
            <td>{{asset.printed}}</td>
            <td class="split">{{asset.txID}}</td>
            <td class="split">{{asset.checksum}}</td>
            <td>{{asset.blueprintMaster}}</td>
            <td>{{asset.printerName}}</td>
            <td>{{asset.printerPubKey}}</td>
            <td>{{asset.buyerName}}</td>
            <td>{{asset.ownerName}}</td>
            <td>{{asset.designerName}}</td>
            <td>
              <button *ngIf="!asset.printed;" (click)="setId(asset.printingJobID);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cancelRequestModal">Cancel Request</button>
              <button *ngIf="!asset.printed;" (click)="getForm(asset.printingJobID);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadJobModal">Confirm Job</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
