<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Transaction History (BlueprintCopy)</h1>

  <div class="container">
      <label for="stakeholder">stakeholder</label>
      <select name="stakeholders" [(ngModel)]="selectedElement" >
          <option value="all">All</option>
        <option *ngFor="let stakeholder of allStakeholders" value="{{stakeholder.stakeholderID}}">{{stakeholder.stakeholderID}}</option>
      </select>
  </div>


  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">blueprintCopyID</th>
            
                <th class="info">printed</th>
            
                <th class="info">otpEncryptedWithDesignerPubKey</th>
            
                <th class="info">otpEncryptedWithDesignerPubKey</th>
            
                <th class="info">printer</th>
            
                <th class="info">buyer</th>
            
                <th class="info">blueprintMaster</th>
            
                <th class="info">owner</th>

                <th class="info">designer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allBlueprintCopyAssets | usersPipe: selectedElement">

            
                <td>{{asset.blueprintCopyID}}</td>
            
                <td>{{asset.printed}}</td>
            
                <td>{{asset.otpEncryptedWithDesignerPubKey}}</td>
            
                <td>{{asset.otpEncryptedWithPrinterPubKey}}</td>
            
                <td>{{asset.printer}}</td>
            
                <td>{{asset.buyer}}</td>
            
                <td>{{asset.blueprintMaster}}</td>
            
                <td>{{asset.owner}}</td>

                <td>{{asset.designer}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
