<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Transaction History (BlueprintCopy)</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">blueprintCopyID</th>
            
                <th class="info">printed</th>
            
                <th class="info">OTPencryptedWithDesignerPubKey</th>
            
                <th class="info">OTPencryptedWithPrinterPubKey</th>
            
                <th class="info">printer</th>
            
                <th class="info">buyer</th>
            
                <th class="info">blueprintMaster</th>
            
                <th class="info">owner</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allBlueprintCopyAssets">

            
                <td>{{asset.blueprintCopyID}}</td>
            
                <td>{{asset.printed}}</td>
            
                <td>{{asset.OTPencryptedWithDesignerPubKey}}</td>
            
                <td>{{asset.OTPencryptedWithPrinterPubKey}}</td>
            
                <td>{{asset.printer}}</td>
            
                <td>{{asset.buyer}}</td>
            
                <td>{{asset.blueprintMaster}}</td>
            
                <td>{{asset.owner}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
