<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
			</div>
			<form [formGroup]="myForm">
				<div class="form-group text-left">
					<label for="name">Name:</label>
					<input formControlName="name" type="text" step='any' class="form-control">

				</div>
				<div class="modal-body">
					<div class="form-group text-left">
						<label for="owner">owner</label>
						<select name="designers" formControlName="owner" >
							<option *ngFor="let enduser of allEndusers" value="{{enduser.stakeholderID}}">{{enduser.firstName + " " + enduser.lastName}}</option>
						</select>
					</div>
					<fileupload></fileupload>
				</div>
				<div class="modal-footer">
					<button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<div *ngIf="successMessage" class="alert alert-success" role="alert">
		<strong>Success:</strong> {{successMessage}}
	</div>
	<div *ngIf="progressMessage" class="alert alert-info" role="alert">
		<strong>Status:</strong> {{progressMessage}}
	</div>
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
	<h1 id='assetName'>QualityRequirement</h1>
	<div class="row">
		<div class="col-md-12 text-right">
			<button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-responsive table-striped">
				<thead class="thead">
				<tr class="thead-cols">
					<th class="info">QualityRequirementID</th>
					<th class="info">Name</th>
					<th class="info">TxID</th>
					<th class="info">Owner</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let asset of allAssets">
					<td>{{asset.qualityRequirementID}}</td>
					<td>{{asset.name}}</td>
					<td class="split">{{asset.txID}}</td>
					<td>{{asset.owner}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
